/* Copied */
body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-image: radial-gradient(#0F1B2A, #000000, #000000);
  color: #fff;
}

.heading-text {
  color: #142CE2;
}

.Heading {
  padding-top: 10%;
  padding-left: 10%;
}

.title-image {
  padding-left: 25%;
  padding-right: 20%;
}

body {
  font-family: 'Montserrat', Ubuntu;
}

h1 {
  color: #C7D9FC;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 40px;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 20;
}

/* navbar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  color: #142CE2;
  font-family: 'Dancing Script', cursive;
  margin-left: 5%;
  font-size: 3.3rem;
}

.navbar-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

/* Download buttons */
.head-btn {
  margin: 2% 3% 0% 0;
  background-color: #0b131d;
  border-radius: 14px;
}

.head-fas {
  padding-top: 4%
}

/* Skills */
#skills {
  background-image: radial-gradient(#0b131d, #0b131d, #000000);
  margin: 0 2%;
  border-radius: 14px;
  padding: 1% 5%;
  color: #eeeeee;
  text-align: center;
}

.fas, .fab {
  border-radius: 100%;
  color: #495BEB;
  margin-bottom: 1rem;
}

.fas:hover, .fab:hover {
  color: #313D9E;
}

.feature-box {
  text-align: center;
  padding: 2% 0 2% 0;
}

/* Experience */
#experience {
  background-image: radial-gradient(#0F1B2A, #000000, #000000);
  text-align: center;
  padding: 2% 2% 2% 0;
  margin: 0 1% 1% 2%;
  font-family: "Montserrat";
}

.flip-card-fas {
  margin-left: 100%;
  color: #000000;
}

.experience-head {
  margin: 2% 2%;
}

.flip-card {
  background-color: transparent;
  width: 570px;
  height: 380px;
  perspective: 1020px;
  border-radius: 14px;
  padding-bottom: 1%
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 7% 15% 5% 5%;
}

.flip-card-front {
  padding-top: 10%;
  text-align: left;
  background-color: #3282b8;
  line-height: 45px;
  color: black;
  border-radius: 14px;
  font-size: 500%;
  font-weight: bold;
}

.flip-card-back {
  text-align: left;
  background-color: #0b131d;
  color: white;
  transform: rotateY(180deg);
  border-radius: 14px;
  z-index: 2;
}

/* Education */
#education {
  background-image: radial-gradient(#0b131d, #0b131d, #000000);
  padding-top: 2%;
  text-align: center;
  color: #fff;
  margin: 0 2%;
  border-radius: 14px;
}

.container-fluid-edu {
  padding: 5% 9% 1% 9%;
}

.edu-table {
  text-align: left;
  padding-top: 3%;
  margin-right: 10%;
  margin-left: 10%;
}

.horizontal-timeline {
  margin-right: 10%;
  margin-left: 10%;
  position: relative;
  height: 10px;
  border-style: none;
  border-color: #fff;
  border-top-style: dashed;
}

.arrow-up, .arrow-down {
  position: relative;
}

.arrow-down {
  bottom: -20px;
  width: 50px;
  height: 50px;
  background: #142CE2;
  border-radius: 50px;
  position: absolute;
  border: 4px solid #fff;
  cursor: pointer;
}

/* about me */
#aboutme {
  background: #000000;
  color: white;
  text-align: center;
  padding: 5%;
}

.aboutme-para {
  padding-top: 5%
}

.chip-col {
  padding: 5px 15px 35px 25px;
  align-content: center;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 80px;
  width: 350px;
  font-size: 16px;
  line-height: 35px;
  border-radius: 35px;
  background-color: #0b131d;
}

.chip-img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

/* Footer */
#footer {
  padding: 1% 20% 0.5% 20%;
  background-color: #0b131d;
}

@media screen and (max-width: 1020px) {
  #experience, #education, #aboutme {
    font-size: 130%;
  }

  /* Head */
  #title {
    background-image: linear-gradient(#0F1B2A, #000000, #000000);
    padding-bottom: 0%;
  }

  .title-image {
    position: relative;
    height: 100%;
    width: 90%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 2%;
  }

  .head-btn {
    margin: 1px 2px;
    font-size: 2rem;
    padding: 2%;
  }

  .head-buttons {
    padding: 2% 5% 2% 20%;
    padding-left: ;
  }

  .Heading {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 3rem;
    line-height: 0.5px;
    padding-left: 10%;
    padding-top: 5%;
    width: 100%
  }

  .heading-text1 {
    width: 100%;
    font-size: 2rem;
    color: #142CE2;
  }

  .heading-text3 {
    font-size: 2rem;
  }

  .feature-box {
    padding: 2%;
    margin: 0%
  }

  /* Experience */
  .experience-head {
    margin: 7% 2%;
  }

  .flip-card {
    align-items: center;
    padding-left: 4%;
    background-color: transparent;
    width: 800px;
    height: 450px;
  }

  .flip-card-front {
    padding-top: 20%;
    text-align: left;
    line-height: 25px;
    background-color: #3282b8;
    color: black;
    border-radius: 14px;
    font-size: 500%;
    font-weight: bold;
  }

  /* education */
  #education {
    padding-top: 2%;
    text-align: center;
    background-color: #0b131d;
    margin: 0 1%;
    border-radius: 14px;
  }

  .container-fluid-edu {
    padding: 5% 1% 1% 2%;
  }

  .edu-table {
    text-align: left;
    padding-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .horizontal-timeline {
    margin-right: 1%;
    margin-left: 1%;
    position: relative;
    height: 10px;
    border-style: none;
    border-color: #fff;
    border-top-style: dotted;
  }

  .arrow-up, .arrow-down {
    position: relative;
  }

  .arrow-down {
    bottom: -20px;
    width: 50px;
    height: 50px;
    background: #142CE2;
    border-radius: 50px;
    position: absolute;
    border: 4px solid #fff;
    cursor: pointer;
  }

  /* Footer */
  #footer {
    padding: 3% 5% 2% 8%;
  }
